@import "searchBar.css";

.logo {
    height: 100px;
}

.tagline {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    padding-bottom: 2%;       
}

header {
    background-color: #071e26;
    height: auto;
    padding: 10px;
    color: whitesmoke;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.dropdownBoxes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #071e26;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 10px solid #071e26;
  
}


body {
    margin: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #071e26;
}

#holidayRoad{
    display: flex;
    flex-flow: column wrap;
    
}


.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.chosenOptions{
    display: flex;
    width: 70%;
    
    
}

.optionsDisplay{
    border: 2px solid #071e26;
    background-color: whitesmoke;
    box-shadow: 3px 3px 5px darkgray;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px 20px;
    width:70%;
    margin-right: 10px;
    margin-bottom: 5px;
}


.weatherDisplay {
    border: 2px solid #071e26;
    background-color:  whitesmoke;
    box-shadow: 3px 3px 5px darkgray ;
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 20px;
    margin-right: 10px;
}

h3 {
    border-bottom: 2px solid #071e26;
    color:rgb(0, 0, 0);
    text-shadow: 1px 2px rgba(218, 217, 217, 0.308);
    background-color: rgba(227, 248, 240, 0.062);
}

.dayDisplay{
    margin: 0px 0px 10px 0px;
    padding: 0px 10px 0px 20px;
    width: 290px;
    border: 2px solid #071e26;
    background-color: #d3eaf2;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.weatherText{
    text-align: left;
    align-items: center;
    display: flex;
}

.weatherIcon {
    width: 100px;
    
    filter: drop-shadow(2px 2px 4px black) hue-rotate(36deg);
}

.savedOptions{
    border: 2px solid #071e26;
    background-color: whitesmoke;
    color: black;
    box-shadow: 3px 3px 5px darkgray ;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 20px;
}

.detailsDisplay{
   height: 40%;
   margin-bottom: 10px;
   border: 2px solid #071e26;
   background-color: #d3eaf2;
   color:rgb(0, 0, 0);
   font-weight: bolder;
   height: 40%;
   margin-bottom: 10px;
   padding: 15px;
   text-align: left;
    
}
.chosen {
    border: 2px solid #071e26;
    margin-bottom: 10px;
    padding: 0px 20px;
    text-align: center;
    line-height: 170%;
    background-color: #d3eaf2;
    color:rgb(0, 0, 0);
    font-weight: bolder;
}



h2 {
    text-align: center;
   
}

.itinDisplay {
    border: 2px solid #071e26;
    margin-bottom: 10px;
    padding: 0px 20px;
    line-height: 170%;
    background-color: #d3eaf2;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    
}